body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.top {
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 35%;
	margin: 0 auto;
	line-height: 30px;
}

.top > div {
	flex: 1;
}

.footer {
	margin-top: 20px;
}

.grid {
	font-family: monospace;
	font-size: 20px;
	white-space: pre-line;
	user-select: none;
    width: 200px;
    display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.cell {
	display: inline-block;
	width: 25px;
	height: 25px;
}

.hintZero	{	color: transparent;	}
.hintOne	{	color: blue;	}
.hintTwo	{	color: green;	}
.hintThree	{	color: red;		}
.hintFour	{	color: navy;	}
.hintFive	{	color: maroon;	}
.hintSix	{	color: teal;	}
.hintSeven	{	color: purple;	}
.hintEight	{	color: black;	}