.grid {
	font-family: monospace;
	font-size: 20px;
	white-space: pre-line
}

.cell {
	display: inline-block;
	width: 25px;
	height: 25px;
}

.hintZero	{	color: transparent;	}
.hintOne	{	color: blue;	}
.hintTwo	{	color: green;	}
.hintThree	{	color: red;		}
.hintFour	{	color: navy;	}
.hintFive	{	color: maroon;	}
.hintSix	{	color: teal;	}
.hintSeven	{	color: purple;	}
.hintEight	{	color: black;	}